@import "/src/constans.scss";

.App-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  width: calc(100% - 10px);
  max-width: $max-content-width;
  padding: 5px;

  background-color: yellow;

  .form-and-filters-wrapper {
    display: flex;
    flex-direction: column;

    height: 300px;
    margin-bottom: 10px;

    @media (min-width: $desktop-breakpoint) {
      flex-direction: row-reverse;
    }
  }
}
