@import "/src/constans.scss";
.transactions-list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;

  ul {
    margin: 0;
    min-height: 100px;

    max-height: calc(
      100vh - $header-height - $desktop-form-wrapper-height -
        $desktop-vertical-margins-sum - $footer-height
    );
    overflow-y: scroll;
  }
}

.list-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid red;

  .amount {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .beneficiary {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .account {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .address {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .remove {
    min-width: 100px;
    width: 10%;
  }
}
