$desktop-breakpoint: 1024px;
$max-content-width: 1200px;

$header-height: 50px;
$footer-height: 50px;

$desktop-form-wrapper-height: 300px;
//form-and-filters-wrapper marginbottom and App-content padding
$desktop-vertical-margins-sum: 10px + 10px;
